

            <table class="table table-striped">
                <thead>
                  <tr  >
                    <th scope="col" *ngFor="let colom of DeliveryService.headers">{{ colom }}</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr  *ngFor="let row of DeliveryService.data" >
                    
                    <td *ngFor="let colom of DeliveryService.headers">{{ row[colom] }}</td>
                    
                  </tr>
                </tbody>
              </table>
            
              <h1 mat-dialog-title style="text-align: center;">All INFO DELIVERY</h1>
            
            <div mat-dialog-actions>
              <button mat-button mat-dialog-close class="info">Close</button>
            </div>
            
<!-- ======================== -->

{{ deliveryId }}
{{ deliveryName }}
{{ email }}
{{ phone }}
{{ address }}
{{ image }}
{{ salary }}
{{ attendence }}
{{ login }}
{{ orderProduct }}
<br>

<button mat-button (click)="DeleteItemDelivery()">Delete</button>
              
            