<h2 mat-dialog-title>Create Payment</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="formGroup">
        <mat-form-field class="example-full-width">
            <mat-label>DeliveryName</mat-label>
            <input type="text" formControlName="DeliveryName" style="font-size: x-large;" placeholder="DeliveryName ">

        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="text" formControlName="Email" style="font-size: x-large;" placeholder="Email ">
            <!-- <mat-error *ngIf="formGroup.controls.Email.hasError('required')">
        Email is <strong>required</strong>
      </mat-error> -->
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Phone</mat-label>
            <input type="text" formControlName="Phone" style="font-size: x-large;" placeholder="Phone">
            <mat-error *ngIf="formGroup.controls.Phone.hasError('required')">
                Phone is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Address</mat-label>
            <input type="text" formControlName="Address" style="font-size: x-large;" placeholder="Address">
            <mat-error *ngIf="formGroup.controls.Address.hasError">

            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Image</mat-label>
            <input type="text" formControlName="Image" style="font-size: x-large;" placeholder="Image">
            <mat-error *ngIf="formGroup.controls.Image.hasError">
                Image is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Salary</mat-label>
            <input type="number" formControlName="Salary" style="font-size: x-large;" placeholder="Salary">
            <mat-error *ngIf="formGroup.controls.Salary.hasError">
                Salary is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>UserName</mat-label>
            <input type="text" formControlName="UserName" style="font-size: x-large;" placeholder="UserName">
            <mat-error *ngIf="formGroup.controls.UserName.hasError">
                UserName is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="text" formControlName="Password" style="font-size: x-large;" placeholder="Password">
            <mat-error *ngIf="formGroup.controls.Password.hasError">
                Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>verification</mat-label>
            <input type="number" formControlName="verification" style="font-size: x-large;" placeholder="verification">
            <mat-error *ngIf="formGroup.controls.verification.hasError">
                verification is <strong>required</strong>
            </mat-error>
        </mat-form-field>


    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" [disabled]="!formGroup.valid" cdkFocusInitial (click)="SaveItemDelivery()">Save</button>
</mat-dialog-actions>

<!-- [disabled]="!formGroup.valid"  -->
