

<table class="table table-striped">
    <thead>
      <tr  >
        <th scope="col" *ngFor="let colom of influencerService.headers">{{ colom }}</th>
       
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let row of influencerService.data" >
        
        <td *ngFor="let colom of influencerService.headers">{{ row[colom] }}</td>
       
      </tr>
    </tbody>
  </table>

  <h1 mat-dialog-title style="text-align: center;">All INFO INFLUENCERS</h1>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close class="info">Close</button>
</div>


  
<!-- ========================= -->












<mat-card class="example-card" style="margin-left: 10px;">

 
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ fullName }}  </mat-card-title>
    <mat-card-subtitle>{{ email }} </mat-card-subtitle>
    <mat-card-title>{{ phone }} </mat-card-title>
    <mat-card-subtitle>{{ address }} </mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
    <p>
      {{ image }}
    </p>
  </mat-card-content>
  <mat-card-actions> 

  
      <button mat-button (click)="DeleteItemInfluencer()">Delete</button>
   
  </mat-card-actions>
</mat-card>
