.info{
    margin-left: 380px ;
    border: 6px sold #EC7063;
    color:#566573;
    background-color: #BB8FCE;
    height: 40px;
    width: 140px;
}

.table{

    background-color: #D7BDE2;
    border: #A569BD dash; 
    color: #7D3C98;
}
