



<table class="table table-striped">
    <thead>
      <tr  >
        <th scope="col" *ngFor="let colom of customerservice.headers">{{ colom }}</th>
        
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let row of customerservice.data" >
        
        <td *ngFor="let colom of customerservice.headers">{{ row[colom] }}</td>
        
      </tr>
    </tbody>
  </table>

  <h1 mat-dialog-title style="text-align: center;">All INFO CUSTOMERS</h1>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close class="info">Close</button>
</div>


  
<!-- ================================ -->


<app-customer-page *ngFor="let x of customerservice.data" [customerId]='x.customerId' [fullName]='x.fullName' [email]='x.email'
[phone]='x.phone' [address]='x.address' [image]='x.image' 

 ></app-customer-page>

 
<form>
    <div>
       <p>search by id customer</p> 
        <input (change)="getCustomerById($event)">
    </div>
</form>

<div>
    <p>ReportBuyCustomer</p>
    <input (change)="ReportBuyCustomer($event)">

</div>




 <app-report-buy-customer *ngFor="let x of customerservice.data" [customerName]='x.customerName'
  [productName]='x.productName' [price]='x.price'
[qty]='x.qty' [totalPrice]='x.totalPrice' 
></app-report-buy-customer >


<button (click)="createCustomer()">Create Customer</button>


