<p>dashleft works!</p>

<div class="sidebar" data-image="assets/assets1/img/sidebar-5.jpg">
   
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text">
                Creative Tim
            </a>
        </div>
        <ul class="nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="dashboard">
                   
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="userprofilee">
                   
                    <p>User Profile</p>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="tablelistt">
                   
                    <p>Table List</p>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="typoo">
                    
                    <p>Typography</p>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="iconn">
                    
                    <p>Icons</p>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="mapss">
                  
                    <p>Maps</p>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="notificationn">
                  
                    <p>Notifications</p>
                </a>
            </li>
            <li class="nav-item active active-pro">
                <a class="nav-link active" routerLink="upgradee">
                  
                    <p>Upgrade to PRO</p>
                </a>
            </li>
        </ul>
    </div>
</div>
