

.btn{
    width: 100%;
    margin: 10px 0px;
    font-size: 18px;
  color: black;
  font-weight: bolder;
    border: 1px solid blue;
    border-radius: 25px;
  }
  
  .btn:hover{
    background-color: blue;
    color: white;
  }
  
  .form-control{
    border-radius:1.5rem;
  }